@using Umbraco.Models;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<HomeHeader>
<!-- Banner -->
<section id="banner">
    <i class="icon fa-diamond"></i>
    <h2>@Model.Title</h2>
    <p>@Model.Description</p>
    <ul class="actions">
        <li><a href="#" class="button big special">Learn More</a></li>
    </ul>
</section>
