@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
}

@* the fun starts here *@
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Survey Builder</title>
    <link rel="stylesheet" href="/css/FormBuilder/Style.css">
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/jquery-ui.css'>
</head>

<body>

    <div id="surveryIntro" style="padding-top:3rem" class="container">
        <form action="" id="intro-form">
            <div class="intro-wrap">

            </div>
            <div id="saveSurveyIntro-btns" class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button id="saveSurveyIntro" type="submit" class="btn-lg btn-primary">Next</button>
                </div>
            </div>
        </form>
    </div>

    <div id="surveryContent" class="container hide-ctrl">
        <form action="" id="form-builder-pages">

            <ul id="tabs" style="display:none;">

                <li id="add-page-tab"><a href="#new-page" class="add-page-tab">+ Page</a></li>
            </ul>
            <div id="new-page"></div>

            <button type="submit">Save</button>

        </form>

    </div>

    <script src='/Scripts/jquery.min.js'></script>
    <script src='/Scripts//jquery-ui.min.js'></script>
    <script src="/Scripts/FormBuilder/form-builder.min.js"></script>
    <script src="/Scripts/FormBuilder/form-render.min.js"></script>
    @*<script src="/scripts/FormBuilder/plugins/starRating.js"></script>*@
    @*<script src="/scripts/FormBuilder/plugins/textarea.trumbowyg.js"></script>*@
    <script src="/scripts/FormBuilder/plugins/emoRating.js"></script>
    <script src="/scripts/jquery.fileupload.js"></script>
    <script src="/scripts/FormBuilder/surveyBuilder.js"></script>
  
</body>

</html>