@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
    var sId = Request.QueryString["surveyId"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Survey Builder</title>
    <link rel='stylesheet' href='/css/jquery-ui.css'>
    <link rel='stylesheet' href='/css/FormBuilder/style.css'>
    <link id="themes-ss" rel='stylesheet' href='~/css/bootstrap.min.css'>

</head>
<body>
    @*<select id="themes"></select>*@
    <div class="container render-view">
        <form id="intro-page" class="intro-container upform-main">

            <div id="intro-media">
                @*<img alt="" class="img-fluid" src="https://images.typeform.com/images/sdeUzvyQ33sC/image/default">*@
            </div>
            <div id="surveyName" class="upform-header">
                &nbsp;
            </div>
            <p id="introText" class="surveyIntro"></p>

            <div id="intro-btns" class="intro-btns">
                <div class="col-12">
                    <button id="btnBegin" onclick="beginSurvey();" type="button" class="btn-lg">Begin</button>
                </div>
            </div>
        </form>

        <div class="upform">
            <form id="form-builder-pages" class="form-horizontal">
                <div class="upform-main">
                    <div id="frm-btns" class="form-group frm-btns">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button id="btnNext" onclick="NextPage();" type="button" class="btn-lg hide-ctrl">Next</button>
                            <button id="btnSubmit" type="button" onclick="SubmitSurvey();" class="btn-lg hide-ctrl">Submit</button>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="@sId" id="surveyId" />
            </form>
        </div>

        <div id="thankYou" class="hide-ctrl thankYou-message vertical-center">
            <h1>
                Thank you, Have a great day ahead!
            </h1>
        </div>
    </div>

    <script src='/Scripts/jquery.min.js'></script>
    <script src='/Scripts//jquery-ui.min.js'></script>
    <script src='/Scripts/jquery.scrollTo.min.js'></script>
    @*<script src="/Scripts/FormBuilder/form-builder.min.js"></script>*@
    <script src="/Scripts/FormBuilder/form-render.min.js"></script>
    <script src="/scripts/FormBuilder/plugins/starRating.js"></script>
    <script src="/scripts/FormBuilder/plugins/textarea.trumbowyg.js"></script>
    <script src="/scripts/FormBuilder/plugins/emoRating.js"></script>
    <script src="/scripts/FormBuilder/SurveyRenderer.js"></script>
    <script src="/scripts/FormBuilder/minimalForm.js"></script>

</body>
</html>



