

/* UPFORM STYLE STARTS*/
.upform {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    margin: 300px auto;
    margin-bottom: 500px;
}

    .upform .upform-main .input-block {
        padding: 30px 0;
        opacity: 0.25;
        cursor: default;
    }

        .upform .upform-main .input-block .label {
            display: block;
            font-size: 1.5em;
            /*line-height: 78px;*/
            font-weight: 500;
        }

        .upform .upform-main .input-block .input-control, .form-control {
            border: none;
            outline-width: 0;
            width: 100%;
        }

            .upform .upform-main .input-block .input-control input, .upform .upform-main .input-block .input-control select, .upform .upform-main .input-block .input-control textarea {
                background-color: transparent;
                padding-bottom: 10px;
                font-size: 1.5em;
                font-weight: 500;
                height: auto;
            }

        .upform .upform-main .input-block.active {
            opacity: 1;
        }

.render-view .upform .upform-main .input-block .input-control {
    margin: 20px 0;
}

.render-view .frm-btns {
    margin-top: 20px;
}



/* UPFORM STYLE ENDS*/


.save-all-wrap {
    text-align: center;
    padding: 20px;
}

.form-rendered #build-wrap {
    display: none;
}

.render-wrap {
    display: none;
}

.form-rendered .render-wrap {
    display: block;
}

#edit-form {
    display: none;
    float: right;
}

.form-rendered #edit-form {
    display: block;
}

.intro-container {
    font-weight: unset;
    font-size: 24px;
    text-align: center;
    line-height: 32px;
}

    .intro-container .surveyIntro {
        font-weight: unset;
        font-size: 24px;
        text-align: center;
        line-height: 32px;
        /*color: rgb(60, 60, 60);*/
        max-width: 840px;
        display: block;
        margin: 0px auto;
    }

    .intro-container .intro-btns {
        margin: 2rem 0;
    }

.bar {
    height: 18px;
    background: green;
}

.surveyMedia {
    height: auto !important;
}

.upform-header {
    margin-top: 2rem;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 0;
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
}

.thankYou-message {
    text-align: center;
    width: 100%;
}

.form-wrap.form-builder .frmb-control li .control-icon {
    width: auto !important;
}

.hide-ctrl {
    display: none;
}
